<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<div id="modalPayPalInstallmentCheck" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="cmp cmp-totals">
                    <h2>Ratenzahlung Powered by PayPal überprüfen</h2>
                    <hr>
                    <h3>Summe</h3>
                    <div>
                       <dl>
                           <dt>Warenwert (Brutto)</dt>
                           <dd>{{ basketItemAmount|localizedcurrency(currency) }}</dd>
                           <dt>Versandkosten (Brutto)</dt>
                           <dd>{{ basketShippingAmount|localizedcurrency(currency) }}</dd>
                           <hr>
                           <dt>Gesamtsumme (Netto)</dt>
                           <dd>{{ basketAmountNet|localizedcurrency(currency) }}</dd>
                           <dt>Gesamtsumme (Brutto)</dt>
                           <dd>{{ basketAmountGro|localizedcurrency(currency) }}</dd>
                           <hr>
                           <dt>Finanzierungskosten</dt>
                           <dd>{{ financingCosts|localizedcurrency(currency) }}</dd>
                           <dt>Gesamtbetrag ( mit Finanzierungskosten)</dt>
                           <dd>{{ totalCostsIncludeFinancing|localizedcurrency(currency) }}</dd>
                       </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/payment/payPal/checkoutCancel/installment">
                    <button class="btn btn-error pull-left" :disabled="waiting || waitingForInput">
                        <i class="fa fa-cancel" aria-hidden="true"></i>Kauf abbrechen
                    </button>
                </a>
                <a href="/payment/payPal/checkoutSuccess/installment?paymentId={{ paymentId }}&PayerID={{ payerId }}">
                    <button class="btn btn-primary pull-right" :disabled="waiting || waitingForInput">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ trans("Ceres::Template.orderBuyNow") }}
                    </button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $( document ).ready(function() {
        $("#modalPayPalInstallmentCheck").modal("show");
    });
</script>

<style>
#modalPayPalInstallmentCheck dt
{
    width: 65%;
}
#modalPayPalInstallmentCheck dd
{
    text-align: right;
    width: 25%;
}

</style>